.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    color: #ddd;
    border-bottom: 2px solid #3d3d3d;
}

.navbar .logo {
    width: max(12vw, 120px);
}

.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.navbar li {
    cursor: pointer;

}

.nav-right {
    display: flex;
    align-items: center;
    gap: max(1vw, 12px);
}

.navbar select {
    padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid white;
    background: transparent;
    color: white;     
}

.navbar option {
    background-color: #09005c;
    color: white;
}

@media (max-width: 900px) {
    .navbar {
        padding: 20px 8%;
    }
}

@media (max-width: 750px) {
    .navbar {
        padding: 20px 5%;
    }

    .navbar ul {
        display: none;
    }
}